body {
  background-color: lightblue;
  padding: 5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.o {
  padding-top: 40px;
}
.Red {
  background-color: rgb(250, 145, 145);
}
